<div class="row">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <!-- general form elements disabled -->
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">General Elements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form role="form" method="post" action="{{ action }}" id="categoryAddForm">
                    <input type="hidden" name="id" id="id" value="{{ id }}">
                    <div class="form-group">
                        <label>文章标题</label>
                        <input type="text" class="form-control" placeholder="文章标题" name="post_title"
                               value="{{ articleInfo.post_title }}">
                    </div>
                    <div class="form-group">
                        <label>文章分类</label>
                        {{ parentCategorySelector|raw }}
                    </div>
                    <div class="form-group">
                        <label>文章状态</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="post_status" id="post_status" value="1" checked="">
                                开启
                            </label>
                            <label>
                                <input type="radio" name="post_status" id="post_status2" value="0">
                                关闭
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>评论状态</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="comment_status" id="comment_status1" value="1" checked="">
                                开启
                            </label>
                            <label>
                                <input type="radio" name="comment_status" id="comment_status2" value="0">
                                关闭
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>文章密码</label>
                        <input type="text" class="form-control" placeholder="文章密码" name="post_password"
                               value="{{ articleInfo.post_password }}">
                    </div>

                    <!-- textarea -->
                    <div class="form-group">
                        <label>文章摘要</label>
                        <textarea class="form-control" rows="3" placeholder="文章摘要"
                                  name="post_excerpt">{{ articleInfo.post_excerpt }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>文章内容</label>
                        <textarea id="post_content" name="post_content" rows="10" cols="80">{{ articleInfo.post_content }}</textarea>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (right) -->
</div>