<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i> Datatable + Responsive</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="alert alert-info">For help with such table please check <a
                        href="http://datatables.net/" target="_blank">http://datatables.net/</a></div>
                <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                    <thead>
                    <tr>
                        {foreach item=tableHeader name=tableHeaderName from=$tableHeaderList key=tableHeaderKey}
                        <th>{$tableHeader}</th>
                        {/foreach}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach item=terms name=termsName from=$list key=termsKey}
                    <tr>
                        {foreach item=tableHeader name=tableHeaderNameNew from=$tableHeaderList key=tableHeaderKey}
                        <td class="center">{$terms[$tableHeader]}</td>
                        {/foreach}
                        <td class="center">
                            <a class="btn btn-success" href="{url uri_path='modules/default/category/detail' uri_params=array('id'=>$terms.id)}">
                                <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                View
                            </a>
                            <a class="btn btn-info" href="{url uri_path='modules/default/category/edit' uri_params=array('id'=>$terms.id)}">
                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                Edit
                            </a>
                            <a class="btn btn-danger" href="{url uri_path='modules/default/category/delete' uri_params=array('id'=>$terms.id)}">
                                <i class="glyphicon glyphicon-trash icon-white"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->