<!--row-->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div data-original-title="" class="box-header well">
                <h2><i class="glyphicon glyphicon-edit"></i> Form Elements</h2>
                <div class="box-icon">
                    <a class="btn btn-setting btn-round btn-default" href="#"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a class="btn btn-minimize btn-round btn-default" href="#"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a class="btn btn-close btn-round btn-default" href="#"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content" style="display: block;">
                <div class="control-group">
                    <label for="selectError" class="control-label">Modern Select</label>

                    <div class="controls">
                        <select data-rel="chosen" id="selectError" style="display: none;">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>

                        <div class="chosen-container chosen-container-single" style="width: 77px;" title=""
                             id="selectError_chosen"><a tabindex="-1" class="chosen-single"><span>Option 1</span>

                            <div><b></b></div>
                        </a>

                            <div class="chosen-drop">
                                <div class="chosen-search"><input type="text" autocomplete="off"></div>
                                <ul class="chosen-results"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="selectError1" class="control-label">Multiple Select / Tags</label>

                    <div class="controls">
                        <select data-rel="chosen" class="form-control" multiple="" id="selectError1"
                                style="display: none;">
                            <option>Option 1</option>
                            <option selected="">Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>

                        <div class="chosen-container chosen-container-multi" style="width: 77px;" title=""
                             id="selectError1_chosen">
                            <ul class="chosen-choices">
                                <li class="search-choice"><span>Option 2</span><a class="search-choice-close"
                                                                                  data-option-array-index="1"></a></li>
                                <li class="search-field"><input type="text" style="width: 25px;" autocomplete="off"
                                                                class="" value="Select Some Options"></li>
                            </ul>
                            <div class="chosen-drop">
                                <ul class="chosen-results"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="selectError2" class="control-label">Group Select</label>

                    <div class="controls">
                        <select data-rel="chosen" id="selectError2" data-placeholder="Your Favorite Football Team"
                                style="display: none;">
                            <option value=""></option>
                            <optgroup label="NFC EAST">
                                <option>Dallas Cowboys</option>
                                <option>New York Giants</option>
                                <option>Philadelphia Eagles</option>
                                <option>Washington Redskins</option>
                            </optgroup>
                            <optgroup label="NFC NORTH">
                                <option>Chicago Bears</option>
                                <option>Detroit Lions</option>
                                <option>Green Bay Packers</option>
                                <option>Minnesota Vikings</option>
                            </optgroup>
                            <optgroup label="NFC SOUTH">
                                <option>Atlanta Falcons</option>
                                <option>Carolina Panthers</option>
                                <option>New Orleans Saints</option>
                                <option>Tampa Bay Buccaneers</option>
                            </optgroup>
                            <optgroup label="NFC WEST">
                                <option>Arizona Cardinals</option>
                                <option>St. Louis Rams</option>
                                <option>San Francisco 49ers</option>
                                <option>Seattle Seahawks</option>
                            </optgroup>
                            <optgroup label="AFC EAST">
                                <option>Buffalo Bills</option>
                                <option>Miami Dolphins</option>
                                <option>New England Patriots</option>
                                <option>New York Jets</option>
                            </optgroup>
                            <optgroup label="AFC NORTH">
                                <option>Baltimore Ravens</option>
                                <option>Cincinnati Bengals</option>
                                <option>Cleveland Browns</option>
                                <option>Pittsburgh Steelers</option>
                            </optgroup>
                            <optgroup label="AFC SOUTH">
                                <option>Houston Texans</option>
                                <option>Indianapolis Colts</option>
                                <option>Jacksonville Jaguars</option>
                                <option>Tennessee Titans</option>
                            </optgroup>
                            <optgroup label="AFC WEST">
                                <option>Denver Broncos</option>
                                <option>Kansas City Chiefs</option>
                                <option>Oakland Raiders</option>
                                <option>San Diego Chargers</option>
                            </optgroup>
                        </select>

                        <div class="chosen-container chosen-container-single" style="width: 174px;" title=""
                             id="selectError2_chosen"><a tabindex="-1" class="chosen-single chosen-default"><span>Your Favorite Football Team</span>

                            <div><b></b></div>
                        </a>

                            <div class="chosen-drop">
                                <div class="chosen-search"><input type="text" autocomplete="off"></div>
                                <ul class="chosen-results">
                                    <li class="group-result">NFC EAST</li>
                                    <li class="active-result group-option" style="" data-option-array-index="2">Dallas
                                        Cowboys
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="3">New York
                                        Giants
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="4">
                                        Philadelphia Eagles
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="5">
                                        Washington Redskins
                                    </li>
                                    <li class="group-result">NFC NORTH</li>
                                    <li class="active-result group-option" style="" data-option-array-index="7">Chicago
                                        Bears
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="8">Detroit
                                        Lions
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="9">Green
                                        Bay Packers
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="10">
                                        Minnesota Vikings
                                    </li>
                                    <li class="group-result">NFC SOUTH</li>
                                    <li class="active-result group-option" style="" data-option-array-index="12">Atlanta
                                        Falcons
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="13">
                                        Carolina Panthers
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="14">New
                                        Orleans Saints
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="15">Tampa
                                        Bay Buccaneers
                                    </li>
                                    <li class="group-result">NFC WEST</li>
                                    <li class="active-result group-option" style="" data-option-array-index="17">Arizona
                                        Cardinals
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="18">St.
                                        Louis Rams
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="19">San
                                        Francisco 49ers
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="20">Seattle
                                        Seahawks
                                    </li>
                                    <li class="group-result">AFC EAST</li>
                                    <li class="active-result group-option" style="" data-option-array-index="22">Buffalo
                                        Bills
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="23">Miami
                                        Dolphins
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="24">New
                                        England Patriots
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="25">New
                                        York Jets
                                    </li>
                                    <li class="group-result">AFC NORTH</li>
                                    <li class="active-result group-option" style="" data-option-array-index="27">
                                        Baltimore Ravens
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="28">
                                        Cincinnati Bengals
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="29">
                                        Cleveland Browns
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="30">
                                        Pittsburgh Steelers
                                    </li>
                                    <li class="group-result">AFC SOUTH</li>
                                    <li class="active-result group-option" style="" data-option-array-index="32">Houston
                                        Texans
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="33">
                                        Indianapolis Colts
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="34">
                                        Jacksonville Jaguars
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="35">
                                        Tennessee Titans
                                    </li>
                                    <li class="group-result">AFC WEST</li>
                                    <li class="active-result group-option" style="" data-option-array-index="37">Denver
                                        Broncos
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="38">Kansas
                                        City Chiefs
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="39">Oakland
                                        Raiders
                                    </li>
                                    <li class="active-result group-option" style="" data-option-array-index="40">San
                                        Diego Chargers
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" disabled="" value="">
                        Option two is disabled
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
                        Option one is this and that&mdash;be sure to include why it's great
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
                        Option two can be something else and selecting it will deselect option one
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" disabled="" value="option3" id="optionsRadios3" name="optionsRadios">
                        Option three is disabled
                    </label>
                </div>

                <label class="checkbox-inline">
                    <input type="checkbox" value="option1" id="inlineCheckbox1"> 1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="option2" id="inlineCheckbox2"> 2
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="option3" id="inlineCheckbox3"> 3
                </label>

                <label class="radio-inline">
                    <input type="radio" value="option1" id="inlineRadio1" name="inlineRadioOptions"> 1
                </label>
                <label class="radio-inline">
                    <input type="radio" value="option2" id="inlineRadio2" name="inlineRadioOptions"> 2
                </label>
                <label class="radio-inline">
                    <input type="radio" value="option3" id="inlineRadio3" name="inlineRadioOptions"> 3
                </label>

                <br>
                <br>
                <br>

                <div class="form-group has-success col-md-4">
                    <label for="inputSuccess1" class="control-label">Input with success</label>
                    <input type="text" id="inputSuccess1" class="form-control">
                </div>
                <div class="form-group has-warning col-md-4">
                    <label for="inputWarning1" class="control-label">Input with warning</label>
                    <input type="text" id="inputWarning1" class="form-control">
                </div>
                <div class="form-group has-error col-md-4">
                    <label for="inputError1" class="control-label">Input with error</label>
                    <input type="text" id="inputError1" class="form-control">
                </div>

                <form role="form" class="form-inline">
                    <div class="form-group has-success has-feedback">
                        <label for="inputSuccess4" class="control-label">Input with success</label>
                        <input type="text" id="inputSuccess4" class="form-control">
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </form>

                <br>

                <div class="input-group col-md-4">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                    <input type="text" placeholder="Username" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->